.interest-page{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 8rem); 
    width: 100%;
    padding: 1rem;
    background-color: rgba(207, 25, 25, 0.075);
}

.interest-page .interest-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 100%;
    max-width: 150rem;
    min-width: 0;
}

.interest-page .interest-content .interest-item{
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid rgba(32, 31, 31, 0.062);
    box-shadow: 0 8px 30px 10px rgba(0,0,0,0.06);
    border-radius: 1rem;
    gap: 3rem;
    background-color: rgba(255, 255, 255, 0.425);
    min-width: 0;
    min-height: 22.2rem;
}

.interest-page .interest-content .interest-item .interest-item-text{
    margin: 1rem;
    gap: 1rem;
    min-width: 0;
}

.interest-page .interest-content .interest-item .interest-item-text .interest-descricao{
    font-size: 1.3rem;
    margin-top: 2rem;
    text-align: center;
    min-width: 0;
}


.interest-page .interest-content .interest-item .interest-item-text .interest-title{
    min-width: 0;
    font-size: 2.5rem;
}

.interest-page .interest-content .interest-item .interest-image{
    object-fit: cover; 
    justify-self: center; 
    align-self: center;
    max-height: 22.2rem;
    width: 100%;
    padding: 1rem;
    min-width: 0;
}

@media (max-width: 1150px){
    .interest-page .interest-content{
    grid-template-columns: 1fr;
    }

    .interest-page .interest-content .interest-item{
        padding: 2rem;
        
    }
}

@media (max-width: 600px){

    .interest-page .interest-content{
        gap: 3rem;
    }
    .interest-page .interest-content .interest-item{
        grid-template-columns: 1fr;
        
    }
}

@media (max-width: 330px){
    .interest-page .interest-content .interest-item .interest-item-text .interest-title{
        font-size: 1.5rem;
    }
    .interest-page .interest-content .interest-item .interest-item-text .interest-descricao{
        font-size: 1rem;
    }
}