*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 62.5%;
}

.bio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 8rem);
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-color: rgba(151, 145, 145, 0.062);
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0 auto;
    gap: 2rem;
    max-height: 100vh;
    max-width: 150rem;
    color: black;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
    padding: 3rem;
    box-shadow: 0 8px 30px 10px rgba(0,0,0,0.06);
}

.main-content .text-content{
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: start;
    gap: 4rem;
    width: 100%;
    margin: auto;
    max-height: 100vh;
    max-width: 50vw;
}

.text-content .titulo{
    width: 100%;
    font-size: 5rem;
    text-align: center;
}

.text-content .text-body{
    text-align: center;
    font-size: 2rem;
}

.skills{
    padding: 2rem;
}

.main-content .skills .skills-titulo{
    font-size: 4rem;
}

.main-content .skills .skills-items{
    justify-items: center;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    width: 100%;
    list-style: none;
    font-size: 2rem;
    
}

.main-content .skills .skills-items li{
    display: flex;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.main-content .skills .skills-items li .skill-image{
    width: auto;
    height: 8rem;
    align-self: center;
}


.minha-foto{
    justify-self: center;
    align-items: center;
    object-fit: cover;
    max-width: 100%; 
    max-height: 50rem;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.05);
}
