*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.project-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 8rem);
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-image: linear-gradient(to bottom, #fff 45%, #3110a8 90%);
}

.project-page .project-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
    max-width: 150rem;
    max-height: 60rem;
}

.project-page .project-content .project-item{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    align-items: center;
    background-color: #ffffff9c;
    color: black;
    width: 80%;
    border: 1px solid #55555527;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 1rem;
    padding: 4rem;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.project-page .project-content .project-item .project-title{
    font-size: 2rem;
    height: fit-content;    
}

.project-page .project-content .project-item .project-descricao{
    padding: 2rem;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    height: 17rem;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    border-radius: 2rem;

    color: black;
}

.project-page .project-content .project-item .project-link{
    justify-self: end;
    align-self: end;
    width: 16rem;
    color: white;
    background-color: #3366ff;
    text-align: center;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-page .project-content .project-item .project-link:hover{
    background-color: #234da0;
}

.project-image{
    width: auto;
    height: 17rem;
    object-fit: cover;
}
